/*
My project class
*/
.border-left{border-left:1px solid #666;}
.border-right{border-right:1px solid #666;}
.border-bottom{border-bottom:1px solid #666;}
.border-top{border-top:1px solid #666;}
.border-gray{border:1px solid #666;}
.text-editor{display:inline; width:250px;border:1px solid #888;}